
/* Variables */
:root {
    /* Colores - Colors */
    --primary-100: #e2e0ff;
    --primary-200: #c1beff;
    --primary-300: #a29dff;
    --primary-400: #837dff;
    --primary-500: #645cff;
    --primary-600: #504acc;
    --primary-700: #3c3799;
    --primary-800: #282566;
    --primary-900: #141233;
    /* Gris - Grey */
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    /* Resto de los Colores - Rest of The Colors */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
    /* Fuentes - Fonts */
    --small-text: 0.875rem;
    --extra-small-text: 0.7em;
    /* Resto de las Variables - Resto of The Vars */
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;
    /* Sombreado de Caja - Box Shadow */
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Estilos Globales - Global Styles */
*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 100%; /* 16px */
}

body {
    background: var(--backgroundColor);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: var(--textColor);
}

p {
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small, .text-small {
    font-size: var(--small-text);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Botones - Buttons */
.boton {
    cursor: pointer;
    color: var(--white);
    background: var(--primary-500);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
}

.boton:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.cargando {
    width: 6rem;
    height: 6rem;
    border: 5px solid var(--grey-400);
    border-radius: 50%;
    border-top-color: var(--primary-500);
    animation: spinner 0.6s linear infinite;
}

.cargando {
    margin: 0 auto;
    margin-top: 4rem;
}

/* Titulo - Title */
.titulo {
    text-align: center;
    margin-bottom: 3rem;
}

.titulo-subrayado {
    background: var(--primary-500);
    width: 7rem;
    height: 0.25rem;
    margin: 0 auto;
    margin-rop: -1rem;
}

/* Productos - Products */
.productos {
    padding: 5rem 0;
}

.productos-centro {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

.productos-contenedor {
    display: grid;
    gap: 2rem;
}

.individual-producto-img {
    border-radius: var(--borderRadius);
    height: 15rem;
}

.individual-producto footer {
    padding: 0.75rem 0;
    text-align: center;
}

.individual-producto .nombre {
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
    color: var(--grey-500);
}

.individual-producto .precio {
    margin-bottom: 0;
    color: var(--grey-700);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: var(--letterSpacing);
}

@media screen and (min-width: 768px) {
    .productos-contenedor {
        grid-template-columns: repeat(2, 1fr);
    }

    .individual-producto-img {
        height: 10rem;
    }

    .individual-producto .nombre {
        font-size: 0.85rem;
    }

    .individual-producto .precio {
        font-size: 0.85rem;
    }

    .individual-producto {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1000px) {
    .productos-contenedor {
        grid-template-columns: repeat(3, 1fr);
    }
}

.error {
    text-align: center;
    font-size: 2rem;
}

/* Un Producto - Single Product */
.inicio-enlace {
    display: block;
    width: 150px;
    margin: 2rem auto;
    text-align: center;
}

.producto {
    padding: 5rem 0;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

.producto-cargando {
    text-align: center;
}

.producto-envoltura img {
    height: 15rem;
    border-radius: bar(--borderRadius);
}

.producto-color {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #222;
    margin: 0.5rem 0.5rem 0.25rem 0;
}

.producto-info {
    padding-top: 1rem;
}

.producto-info h3 {
    margin: 0;
    margin-bottom: 0.25rem;
}

.producto-info h5 {
    color: var(--grey-500);
    margin: 0;
    margin-bottom: 0.25rem;
}

.producto span {
    color: var(--grey-800);
}

.producto p {
    margin: 0;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
    .producto-envoltura {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .producto-envoltura img {
        height: 100%;
        max-height: 500px;
    }
}
